* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f4f4;
    color: #1a1a1a;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 20px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 span {
    color: #4F2EDC;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.resume-btn {
    padding: 8px 20px;
    border-radius: 20px;
    background: #4F2EDC;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px;
}

.left {
    width: 30%;
}

.right {
    width: 60%;
}

.avatar {
    width: 200px;
    border-radius: 20px;
}

.left h3, .left h4 {
    margin-top: 10px;
    text-align: center;
}

.social {
    margin: 20px 0;
    text-align: center;
}

.social img {
    width: 25px;
    margin: 0 5px;
}

.card {
    background: white;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.projects-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background: #4F2EDC;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.contact-mini, .contact {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.right h1 {
    font-size: 45px;
    font-weight: 800;
}

.subline {
    margin: 15px 0;
}

.right-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.resume-dark {
    padding: 10px 25px;
    background: #4F2EDC;
    color: white;
    border: none;
    border-radius: 20px;
}

.projects-light {
    padding: 10px 25px;
    background: white;
    border: 2px solid #4F2EDC;
    border-radius: 20px;
    color: #4F2EDC;
}

.desc {
    margin: 20px 0;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .left, .right {
        width: 100%;
    }
}
